body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d58560; /* Color de fondo general */
    color: #ffffff;
}

.container {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    background-color: #c8673d; /* Color de fondo del contenedor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio igual entre los botones */
    align-items: center; /* Alinea los botones en el centro verticalmente */
    gap: 10px; /* Espacio entre los botones (opcional) */
    padding: 10px; /* Añade un padding alrededor de los botones */
}

.custom-button {
    padding: 10px 20px; /* Espaciado interno de los botones */
    background-color: #f08a5d; /* Color de fondo de los botones */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a pointer */
    width: calc(25% - 10px);
    text-align: center;
    transition: background-color 0.3s ease-in-out; /* Transición suave para hover */
}

.custom-button:hover {
    background-color: #b83b5e; /* Color al pasar el cursor */
}


.image-placeholder {
    width: 80%;
    height: 200px;
    background-color: #a34f27; /* Color del marcador de posición de la imagen */
    margin: 0 auto 30px;
    border-radius: 10px;
}

.description, .details {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.description {
    font-weight: bold;
}

.details {
    font-weight: normal;
}

.img2
{
    width: 100%;
    height: 100%;
}

.footer { 
    height: 60px;
    width: 100%;
    display: none;
}

@media (max-width: 600px) {
    
    .container {
        width: 80%;
    
    .footer {
        display:block;
    }

    

    .custom-button {
        flex: 1 1 calc(50% - 10px);
    }
}
