@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	font-family: 'Indie Flower', cursive !important;
  background-image: url(https://trenmaya.neocities.org/Diario_de_Viaje/Prueba/madera.jpeg); /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}


.card {
	color: #013243; 
	position: absolute;
	width: 300px; 
	height: 400px;
	top: 40%;
	left: 50%;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 700px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card .imgBox img {
	min-width: 300px; 
	max-height: 400px; 
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card .imgBox {
	width: 100%; 
	height: 100%; 
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset; /*este*/ 
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 0;
	z-index: -1;
	margin-top: 7px;
}

.card .details p {
	font-size: 35px; /*15 28*/
	line-height: 30px; /*5 18*/
	transform: rotate(-10deg);
	padding: 0 0 0 20px;
}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}

.regla{
	position:absolute;
	left: 25%;
	top: 1%;
	width: 700px;
	height: 100px;
	background-image: url("https://trenmaya.neocities.org/Diario_de_Viaje/Prueba/regla.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 5;
}

.regla:hover{
	transform: scale(1.05);
}

.nota{
	position: absolute;
	left: 60%;
	top: 75%;
	width: 350px;
	height: 300px;
	background-image: url("https://trenmaya.neocities.org/Diario_de_Viaje/Prueba/nota.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 6;
}

.nota:hover{
	transform: scale(1.05);
}

.papel{
	position: absolute;
	left: 5%;
	top: 70%;
	width: 5250px;
	height: 500px;
	background-image: url("https://trenmaya.neocities.org/Diario_de_Viaje/Prueba/papel.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(-25deg);
	z-index: 7;
}

.papel:hover{
	transform: scale(1.05);
}

.gatogordo{
	position: absolute;
	left: 35%;
	top: 81%;
	width: 350px;
	height: 300px;
	background-image: url("https://trenmaya.neocities.org/Diario_de_Viaje/Prueba/gatogordo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 8;
}

.gatogordo:hover{
	transform: scale(1.05);
}







