article.o-grid
	header.o-grid__area-01.o-header.u-txt-center 
		h3.c-heading.c-heading--05 
			em 1665 – 1736
		h1.c-heading.c-heading--01 Seba
		h2.c-heading.c-heading--02 Albertus Seba
		
	.o-grid__area-02.u-txt-center 
		h4.c-heading.c-heading--03 A Dutch pharmacist, zoologist and collector. He published a Thesaurus of animal specimens with beautiful engravings.
		h5.c-heading.c-heading--04 Taxonomy and natural history
	
	section.o-grid__area-03.o-profile
		.o-profile__inner
			figure.o-media
				img.o-media__img(
src='https://upload.wikimedia.org/wikipedia/commons/d/da/Albertus_Seba_Portrait_farbig.jpg'
alt='Albertus Seba showing a lizard in a bottle'
)
				figcaption.o-media__caption.u-txt-center Portrait of Albertus Seba, a 18th-century Dutch pharmacist.
			
			p Seba was a collector of zoological and other natural subjects and editor of a illustrated work of reference about his collection.
			p He accumulated one of the largest cabinets of curiosities in the Netherlands during his time. He sold one of his cabinets in 1717 to Peter the Great of Russia. His later collections were auctioned after his death. 
			p His early work on taxonomy and natural history influenced Swedish botanist, physician, and zoologist Carl Linnaeus.

	.o-grid__area-04.o-content
		p Born in Etzel, Seba moved to Amsterdam as an apprentice and, around 1700, opened a pharmacy near the harbour. Seba asked sailors and ship surgeons to bring exotic plants and animal products he could use for preparing drugs. Seba also started to collect snakes, birds, insects, shells and lizards in his house.
		p 
			| In October 1728 Seba had become a Fellow of the Royal Society. In 1734, he had published a Thesaurus of animal specimens with beautiful engravings. The full name of the Thesaurus is, with a dual Latin–Dutch title, 
			em Locupletissimi rerum naturalium thesauri accurata descriptio
			|  (Accurate description of the very rich thesaurus of the principal and rarest natural objects).
		p Today, the original 446-plate volume is on permanent exhibit at the Koninklijke Bibliotheek in The Hague, Netherlands.
		p 
			| Seba's inclusion of fantastic beasts such as the hydra influenced Linnaeus to include the “Paradoxa,” species which may exist but which have not been found, in his 
			em Systema Naturae.
		p 
			| Seba is commemorated in the scientific names of two species and one subspecies of snakes:
			em  Ninia sebae, Python sebae, 
			| and 
			em Oxyrhopus petola sebae.
	
	figure.o-grid__area-05.o-media
		img.o-media__img(
src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Albertus_Seba_-_Hydra.jpg/1920px-Albertus_Seba_-_Hydra.jpg'
alt='The Hamburg Hydra, from the Thesaurus (1734)'
)
		figcaption.o-media__legend ↑ The Hamburg Hydra, from the Thesaurus (1734).
	
	footer.o-grid__area-06.o-footer
		p 
			small Content adapted from Wikipedia, including text and images: https://en.wikipedia.org/wiki/Albertus_Seba